<div class="container">
    <div class="content">
        <component-slot data-name="content"></component-slot>
    </div>
    <div class="scrollbar">
        <div can-change-opacity class="arrow-up"></div>
        <div can-change-opacity class="track">
            <div can-change-opacity class="handle">
                <div class="start"></div>
                <div class="end"></div>
            </div>
            <div class="track-filter"></div>
        </div>
        <div can-change-opacity class="arrow-down"></div>
    </div>
</div>
