<div class="container">
    <div class="titlebar">
        <div class="titlebar-left" can-change-opacity>
            <div class="minimize"></div>
        </div>
        <div class="titlebar-middle" can-change-opacity>
            <span class="title"></span>
        </div>
        <div class="titlebar-right" can-change-opacity>
            <div class="qmark"></div>
            <div class="close"></div>
        </div>
    </div>
    <div can-change-opacity class="window-frame-top-left"></div>
    <div can-change-opacity class="window-frame-top"></div>
    <div can-change-opacity class="window-frame-top-right"></div>
    <div can-change-opacity class="window-frame-right-top"></div>
    <div can-change-opacity class="window-frame-right"></div>
    <div can-change-opacity class="window-frame-right-bottom"></div>
    <div can-change-opacity class="window-frame-bottom-right"></div>
    <div can-change-opacity class="window-frame-bottom"></div>
    <div can-change-opacity class="window-frame-bottom-left"></div>
    <div can-change-opacity class="window-frame-left-top"></div>
    <div can-change-opacity class="window-frame-left"></div>
    <div can-change-opacity class="window-frame-left-bottom"></div>
    <div class="window-body" style="overflow: visible">
        <div class="background-color" can-change-opacity>
            <div class="background"></div>
        </div>
        <div slot="body"></div>
    </div>
</div>
