<div class="container">
    <div class="titlebar">
        <div class="title"></div>
        <div class="titlebar-left" can-change-opacity>
            <div class="minimize"></div>
        </div>
        <div class="titlebar-middle" can-change-opacity></div>
        <div class="titlebar-right" can-change-opacity>
            <div class="qmark"></div>
            <div class="close"></div>
        </div>
    </div>
    <div class="window-frame-top-left" can-change-opacity></div>
    <div class="window-frame-top" can-change-opacity></div>
    <div class="window-frame-top-right" can-change-opacity></div>
    <div class="window-frame-right-top" can-change-opacity></div>
    <div class="window-frame-right" can-change-opacity></div>
    <div class="window-frame-right-bottom" can-change-opacity></div>
    <div class="window-frame-bottom-right" can-change-opacity></div>
    <div class="window-frame-bottom" can-change-opacity></div>
    <div class="window-frame-bottom-left" can-change-opacity></div>
    <div class="window-frame-left-top" can-change-opacity></div>
    <div class="window-frame-left" can-change-opacity></div>
    <div class="window-frame-left-bottom" can-change-opacity></div>
    <div class="window-body">
        <div class="background-color" can-change-opacity>
            <div class="background"></div>
        </div>
        <div slot="body"></div>
    </div>
</div>
