<div class="progress-bar-container">
    <div class="left-cap"></div>
    <div class="progress-background">
        <div class="progress-fill">
            <div class="tint"></div>
        </div>

        <div class="alt-progress-fill">
            <div class="alt-tint"></div>
        </div>

        <div class="middle-fill">
            <div class="middle-tint"></div>
        </div>

        <div class="progress-lines"></div>
    </div>
    <div class="right-cap background-contain"></div>
</div>
