.IW_GoodPoints {
    position: relative;
    color: var(--c_crWhite);
    font-size: 1.3rem;
}

.IW_GoodPoints .decal {
    position: absolute;
    left: 0.1rem;
    top: 0.3rem;
    width: 1.8rem;
    height: 1.8rem;
    background-image: url('../../../img/A_RadiantCrystal.png');
    background-size: 100%;
}

.IW_GoodPoints .background {
    background-image: url('../../../img/A_RecessedBox.png');
    background-size: 100%;
}
