<eq-box style-border="true">
    <div slot="body">
        <div class="eq-drop-down">
            <div class="eq-dropdown-container">
                <eq-box style-border="true">
                    <div slot="body">
                        <eq-scroll-container autohide>
                            <div slot="content" class="eq-option-container"></div>
                        </eq-scroll-container>
                    </div>
                </eq-box>
            </div>
        </div>
    </div>
</eq-box>
