/* NOTE: WDT_Rounded */
.WDT_Rounded {
    --border-width: 0.5rem;
    --z-index-borders: -1;
    --z-index-panel: 1;

    opacity: 1;
    position: absolute;
}

.WDT_Rounded > .container {
    padding-top: 1.6rem;
    padding-left: var(--border-width);
    padding-right: var(--border-width);
    padding-bottom: var(--border-width);
}

.WDT_Rounded > .container > .titlebar {
    left: var(--border-width);
    display: flex;
    width: 100%;
    z-index: var(--z-index-panel);
    margin-top: -1.6rem;
    white-space: nowrap;
    text-overflow: clip;
}

.WDT_Rounded > .container > .window-body {
    flex: 1 1;
    overflow: hidden;
}

.WDT_Rounded > .container > .window-body > .background-color > .background {
    background-image: url('../../../img/wnd_bg_light_rock.png');
}

.WDT_Rounded .titlebar-left {
    width: 1.3rem;
    height: 1.6rem;
    background-image: url('../../../img/A_RoundedFrameTitleLeft.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.WDT_Rounded .titlebar-middle {
    text-align: center;
    background-image: url('../../../img/A_RoundedFrameTitleMiddle.png');
    background-size: 100%;
    height: 1.6rem;
    flex: 1 1;
}

.WDT_Rounded .titlebar-right {
    width: 1.3rem;
    height: 1.6rem;
    background-image: url('../../../img/A_RoundedFrameTitleRight.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.WDT_Rounded > .container > .window-frame-bottom-left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0.8rem;
    height: var(--border-width);
    background-image: url('../../../img/A_RoundedFrameBottomLeft.png');
    background-size: 100%;
    z-index: var(--z-index-panel);
}

.WDT_Rounded > .container > .window-frame-left-bottom {
    position: absolute;
    left: 0;
    bottom: var(--border-width);
    width: var(--border-width);
    height: 0.2rem;
    background-image: url('../../../img/A_RoundedFrameLeftBottom.png');
    background-size: 100%;
    z-index: var(--z-index-panel);
}

.WDT_Rounded > .container > .window-frame-bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1.0rem;
    height: var(--border-width);
    background-image: url('../../../img/A_RoundedFrameBottomRight.png');
    background-size: 100%;
    z-index: var(--z-index-panel);
}

.WDT_Rounded > .container > .window-frame-right-bottom {
    position: absolute;
    right: 0;
    bottom: 0.5rem;
    width: var(--border-width);
    height: 0.2rem;
    background-image: url('../../../img/A_RoundedFrameRightBottom.png');
    background-size: 100%;
    z-index: var(--z-index-panel);
}

.WDT_Rounded > .container > .window-frame-top-left {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--border-width);
    height: 1.6rem;
    background-image: url('../../../img/A_RoundedFrameWithTitleLeftTop.png');
    background-size: 100%;
    z-index: var(--z-index-panel);
}

.WDT_Rounded > .container > .window-frame-top-right {
    position: absolute;
    right: 0;
    top: 0;
    width: var(--border-width);
    height: 1.6rem;
    background-image: url('../../../img/A_RoundedFrameWithTitleRightTop.png');
    background-size: 100%;
    z-index: var(--z-index-panel);
}

.WDT_Rounded > .container > .window-frame-top {
    position: absolute;
    top: -0.4rem;
    left: var(--border-width);
    height: var(--border-width);
    width: 100%;
    z-index: var(--z-index-borders);
}

.WDT_Rounded > .container > .window-frame-right {
    position: absolute;
    right: 0;
    top: 1.6rem;
    bottom: 0.7rem;
    background-image: url('../../../img/A_RoundedFrameRight.png');
    background-size: 100%;
    width: var(--border-width);
    z-index: var(--z-index-borders);
}

.WDT_Rounded > .container > .window-frame-bottom {
    position: absolute;
    bottom: 0;
    left: 0.8rem;
    right: 1rem;
    height: var(--border-width);
    background-image: url('../../../img/A_RoundedFrameBottom.png');
    background-size: 100%;
    z-index: var(--z-index-borders);
}

.WDT_Rounded > .container > .window-frame-left {
    position: absolute;
    left: 0;
    top: 1.6rem;
    bottom: 0.7rem;
    background-image: url('../../../img/A_RoundedFrameLeft.png');
    background-size: 100%;
    width: var(--border-width);
    z-index: var(--z-index-borders);
}
